/* filepath: frontend/src/stylesheets/pages/login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Resta la altura del topbar */
    overflow: hidden; /* Evita el scroll innecesario */
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4)),
    url('../assets/fondo_login.png') no-repeat center center; /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

.login-form {
    background: #6c9bca; /* Azul para el recuadro */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: #ffffff; /* Texto blanco */
    text-align: center;
}

.login-form h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff; /* Título*/
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ffffff; /* Etiquetas */
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #426b95;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.login-button:hover {
    background-color: #245d9b;
}