.table-container {
    flex: 1;
    margin-top: 20px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.filters {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin-top: 10px;

    div {
        display: flex;
        gap: 10px;
    }
}	

.p-dropdown-item {
    display: block;
    &:first-letter {
        text-transform: capitalize;
    }
  }

  .p-dropdown-label {
    display: block;
    &::first-letter {
      text-transform: capitalize;
    }
  }

.all-filters {
  display: flex;
  flex-direction: column;
  align-items: end;
  
  button.p-button {
    background-color: #5C90C5;
    border: 1px solid #5C90C5;
  }
}

.title-filter {
  display: flex;
  flex-direction: column;

  .button-group {
    margin-top: auto;

    button {
      display: flex;
      align-items: center;
    }
  }

}

@media (max-width: 768px) {
    .table-container {
        display: none;
    }
  }

